---
/**
 * Author: Eduardo Porto Morales
 */

import MainLayout from "@layouts/MainLayout.astro";
import RequestDetail from "@components/RequestDetail.astro";
import AttendRequest from "@components/AttendRequest";
import type { UserRole } from "@type/roles";

import { getCookie } from "@data/cookies";
import { roleLabels } from "@config/role-labels";
import { apiRequest } from '@utils/apiClient';

const role: UserRole = getCookie("role") as UserRole;
const userName = getCookie("username");
const buttonLabel = roleLabels[role];

export async function getStaticPaths() {
  //Status corresponding to Accounts Payable COTIZAR SOLICITUD
  const status = 4;
  const requests = await apiRequest(`/user/get-travel-requests/${getCookie("department_id")}/${status}`);
  return requests.map((req: any) => ({
    params: { id: req.request_id.toString() },
  }));
}

const { id } = Astro.params;
const request = await apiRequest(`/user/get-travel-request/${id}`);

if (!request) {
  throw new Error(`No request found with ID ${id}`);
}
---

<MainLayout title={`Solicitud #${request.request_id}`} data={{ userName, buttonLabel, role }} >
  <RequestDetail
    request={request}
    title={`SOLICITUD #${request.request_id}`}
    subtitle="Detalles de la Solicitud a Cotizar"
  />
  <div class="flex mt-8">
    <AttendRequest
      client:only="react"
      request_id = {request.request_id}
    />
  </div>
</MainLayout>