---
/**
 * Authors: Gabriel Muñoz, José González
 * 
 * Description: This is the applicant view of the dashboard.
 **/

import MaterialIcon from "@components/MaterialIcon.astro";
import Button from "@components/Button.astro";
import TextHeader from "@components/TextHeader.astro";
import CancelRequestModal from "@components/CancelRequestModal.tsx";

import { getCookie } from "@data/cookies";
import { apiRequest } from '@utils/apiClient';

const colorDesign: { [key: string]: string } = {
  'Abierto': "text-green-500",
  'Primera Revisión': "text-yellow-500",
  'Segunda Revisión': "text-yellow-500",
  'Cotización del Viaje': "text-yellow-500",
  'Atención Agencia de Viajes': "text-yellow-500",
  'Comprobación gastos del viaje': "text-yellow-500",
  'Validación de comprobantes': "text-yellow-500",
  'Finalizado': "text-yellow-500",
  'Cancelado': "text-yellow-500",
  'Rechazado': "text-yellow-500",
};

const user_id = getCookie("id");

const requests = await (async () => {
  try {
    return await apiRequest(`/applicant/get-user-requests/${user_id}`);
  } catch (error) {
    return [];
  }
})()

var { userName } = Astro.props;
---

<div>
  <main>
    <TextHeader
      title={`BIENVENIDO, ${userName.toUpperCase()}`}
      subtitle="DITTA CONSULTING"
    />

    <section class="bg-white p-6 rounded-lg shadow w-full">
      <h2 class="flex text-xl font-bold mb-4">
        VIAJES EN PROCESO
        <span class="px-2 align-middle text-primary-500">({requests.length})</span>
      </h2>

      {requests.length > 0 ? (
        <div class="grid gap-4">
          {requests.map((request: any) => {
            const isEditable = request.status === "Abierto" || request.status === "Borrador";
            const isComp = request.status === "Comprobación gastos del viaje";
            return (
              <div class="grid grid-cols-[2fr_2fr_1fr] gap-6">
                <a href={`/detalles-solicitud/${request.request_id}`} class="col-span-2">
                  <div class="col-span-2 space-y-2 content-wrapper">
                    <p class="font-bold text-lg break-words">#{request.request_id}</p>
                    <div class="text-sm text-gray-700 grid grid-cols-[1fr_2fr] gap-y-1">
                      <p><span class="font-semibold">Lugar:</span> {request.destination_country}</p>
                      <p><span class="font-semibold">Fechas:</span> {request.beginning_date} - {request.ending_date}</p>
                      <p>
                        <span class="font-semibold">Estado:</span> 
                        <span class={`ml-1 font-semibold text-sm rounded bg-yellow ${colorDesign[String(request.status)]}`}>
                          {(request.status ? request.status.toUpperCase() : '')}
                        </span>
                      </p>
                      <p><span class="font-semibold">Responsable:</span> Eduardo Porto Morales</p>
                    </div>
                  </div>
                </a>
                <div class="grid grid-cols-[1fr_auto] gap-4 items-center">
                  <div class="flex flex-col gap-2">
                    <a href={`/editar-solicitud/${request.request_id}`}>
                      <Button color="primary" disabled={!isEditable} variant="filled" size="medium" customSizeClass="w-full">
                        EDITAR
                      </Button>
                    </a>
                    <a href={`/comprobar-solicitud/${request.request_id}`}>
                      <Button color="primary" disabled={!isComp} variant="filled" size="medium" customSizeClass="w-full">
                        COMPROBAR
                      </Button>
                    </a>
                  </div>
                  <div class="flex justify-end items-center h-full">
                    <span class="flex items-center justify-center w-6 h-6">                        
                      <CancelRequestModal
                        client:only="react"
                        id={request.request_id}
                        disabled={!isEditable}
                      >
                        <div>
                          <MaterialIcon
                            icon="delete"
                            color="black"
                            style="cursor: pointer"
                          />
                        </div>
                      </CancelRequestModal>
                    </span>
                  </div>
                </div>
              </div>
            );
          })}
        </div>
      ) : (
        <div class="bg-gray-100 p-6 rounded-lg shadow w-full text-center text-gray-500 font-semibold">
          NO TIENES VIAJES AGENDADOS
        </div>
      )}
    </section>

    <a href="/crear-solicitud" class="mt-8 flex justify-center">
      <Button variant="filled" color="secondary" size="custom" customSizeClass="w-128 py-3 text-base font-bold">
        SOLICITA UN NUEVO VIAJE
      </Button>
    </a>
  </main>
</div>