---
/**
 * Authors: Gabriel Muñoz, José González
 * 
 * Description: This is the authorizer view of the dashboard.
 **/

import TextHeader from "@components/TextHeader.astro";
import RequestSection from "@components/RequestSection.astro";

let requests = [];

const deptId = 1;
const statusId = 2;
const limit = 50;

try {
  
  console.log(`Fetching requests from: http://localhost:3000/api/authorizer/get-alerts/${deptId}/${statusId}/${limit}`);
  
  const res = await fetch(`http://localhost:3000/api/authorizer/get-alerts/${deptId}/${statusId}/${limit}`, {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json',
    }
  });
  
  if (res.ok) {
    requests = await res.json();
    console.log('Fetched requests:', requests);
  } else {
    console.error('Failed to fetch requests:', res.status, res.statusText);
    const errorText = await res.text();
    console.error('Error details:', errorText);
  }
} catch (err) {
  console.error('Error fetching requests:', err);
}

const { userName } = Astro.props;
---

<div>
  <main>
    <TextHeader
      title={`BIENVENIDO, ${userName.toUpperCase()}`}
      subtitle="DITTA CONSULTING"
    />
      <RequestSection
        title="SOLICITUDES POR AUTORIZAR"
        requests={requests}
        anchor="autorizaciones"
        urlBase="autorizar-solicitud"
        subtitle="Esta solicitud está esperando ser autorizada."
        emptyMessage="NO HAY SOLICITUDES POR AUTORIZAR"
      />
  </main>
</div>
