---
/**
 * Author: Diego Ortega Fernández
 *
 * Receives an array of (headers) and an array of (rows)
 * to display the table data. It uses the TableHeader component
 * for the header row and TableRow for each data row.
 *
 * Usage:
 * <section class="mt-4 w-full p-5">
 *  <DataTable headers={headers} rows={rows} />
 * </section>
 *
 * 'headers' should be an array of strings representing the column names.
 * 'rows' should be an array of JSON objects, where the keys of each object
 * correspond to the values in the 'headers' array.
 */

import TableHeader from "./TableHeader.astro";
import TableRow from "./TableRow.astro";

interface Props {
  headers: string[];
  rows: any[];
}

const { headers, rows } = Astro.props;
---

<table
  class="w-full border-collapse bg-white rounded-md shadow-md overflow-hidden"
>
  <thead>
    <TableHeader headers={headers} />
  </thead>
  <tbody>
    {rows.map((row, index) => <TableRow row={row} index={index} />)}
  </tbody>
</table>
