---
import { apiRequest } from "@/utils/apiClient";
import { getCookie } from "@data/cookies";

//Status corresponding to Accounts Payable
const status = 2;
const alerts = await (async () => {
  try {
    return await apiRequest(`/authorizer/get-alerts/${getCookie("department_id", Astro.cookies)}/${status}/10`);
  } catch (error) {
    return [];
  }
})()
---

<div class="h-full">
  <h2 class="text-xl font-bold text-neutral-800 mb-6">NOTIFICACIONES DEL SISTEMA</h2>
  <ul class="space-y-4 pb-8">
    {alerts.length === 0 && (
      <li>
        <div class="flex flex-col p-4 h-48 border border-neutral-200 rounded-xl shadow-md">
          <span class="text-lg text-neutral-700 font-semibold">No hay notificaciones disponibles</span>
          <span class="text-sm text-neutral-500 mt-1">Las notificaciones del sistema aparecerán aquí cuando estén disponibles.</span>
        </div>
      </li>
    )}
    {alerts.map((alert:any) => (
      <li class="relative bg-gray-50 border border-neutral-200 rounded-xl p-4 shadow-sm hover:shadow-lg transition">
        <div class="mb-4">
          <p class="text-xs text-neutral-500 mb-2">{alert.request_date} - {alert.request_time}</p>
          <p class="text-xs text-neutral-500 mb-2">ID de Usuario: <span class="font-semibold">{alert.user_id}</span></p>
        </div>
        <div>
          <p class="text-sm text-gray-800">{alert.alert_text}</p>
        </div>
      </li>
    ))}
  </ul>
</div>
